body{

margin:0;

background:#111;

font-family:sans-serif;

color:white;

display:flex;

justify-content:center;

padding:30px;

}

.container{

width:100%;

max-width:700px;

text-align:center;

}

input{

width:100%;

padding:16px;

font-size:20px;

border:none;

border-radius:10px;

}

button{

padding:15px 40px;

margin-top:20px;

font-size:20px;

border:none;

border-radius:10px;

cursor:pointer;

}

#results{

background:#222;

margin-top:5px;

border-radius:10px;

max-height:250px;

overflow:auto;

}

.resultItem{

padding:12px;

cursor:pointer;

}

.resultItem:hover{

background:#333;

}

#display{

margin-top:40px;

font-size:42px;

min-height:160px;

font-weight:bold;

}

.top10{

animation:pulse .6s infinite;

}

@keyframes pulse{

0%{

transform:scale(1)

}

50%{

transform:scale(1.08)

}

100%{

transform:scale(1)

}

}

#history{

margin-top:40px;

background:#1c1c1c;

padding:20px;

border-radius:10px;

text-align:left;

}

.historyItem{

padding:8px;

border-bottom:1px solid #333;

}
